<div class="container">
  <header>

    <div class="headsection">

      <span class="headdesign"></span>

      <div class="headimg">
        <img src="./assets/imgs/profilepic.png" alt="image">
      </div>

      <div class="headtitle">
        <h1>vamsy <br> <span class="">krishna</span></h1>
        <p>Web Developer</p>
      </div>

    </div>
  </header>
  <div class="text-center ">
    <div class="row ">
      <div class="col-lg-4 col-md-6 left-container order-0">
        <h4>Aboute Me</h4>
        <p class="text-start ps-4">I am a passionate individual who transitioned from a marketing role at Casagrand Builders, where I served as a marketing spokesperson for one year, to pursue a career in web development. I recently completed an Angular course and am excited to apply my newfound skills and knowledge in this field. While I am a fresher in web development, I am enthusiastic about learning and contributing to innovative projects.</p>
        <div class="contact text-start p-3">
          <p><i class="bi bi-telephone-fill"></i> 744-886-6097</p>
          <p><i class="bi bi-envelope"></i> vamsykrish22@gmail.com</p>
          <p><i class="bi bi-house"></i> N041 2nd Street Ambal Nagar Balaji Avanue Mangadu Chennai-600122</p>

        </div>
        <div class="language mt-3 p-2 text-start">
          <h4>LANGUAGE</h4>
          <ul>
            <li>English </li>
            <li>Tamil</li>
            <li>Telugu</li>
          </ul>
        </div>
        <div class="skills text-start">
          <h4>RELEVENT SKILLS</h4>
          <p class="fw-bold">Front-End</p>
          <ul>
            <li>HTML,CSS,</li>
            <li>JavaScript</li>

          </ul>
          <p class="fw-bold">Frame-Wroks</p>
          <ul>
            <li>Bootstrap</li>
            <li>Angular</li>
          </ul>
        </div>

      </div>
      <div class="col-lg-7 col-md-6 right-container">
        <h4 class="text-center">EDUCATION HISTORY</h4>
        <div class="card px-3 m-3">
          <P class="fw-bolder text-success text-start card-title  mb-1 mt-4">SSLC</P>
          <p class="text-start ">Nav Bharth Vidiyalaiya Matric HR.SEC.SCHOOL - <span class="text-success fw-bolder">2015</span></p>
          <hr>
          <P class="fw-bolder text-success text-start card-title  mb-1 mt-4">HSC</P>
          <p class="text-start ">Nav Bharth Vidiyalaiya Matric HR.SEC.SCHOOL - <span class="text-success fw-bolder">2017</span></p>
          <hr>
          <P class="fw-bolder text-success text-start card-title  mb-1 mt-4">Bachelor of Computer Applications</P>
          <p class="text-start ">Apollo Arts & Science College - <span class="text-success fw-bolder">2020</span></p>
        </div>
        <div>
          <h4>WORKING EXPERIENCE</h4>
        </div>

      </div>
    </div>

  </div>
</div>